---
import '../styles/global.css';
import Header from '../components/Header.astro';

export const defaultLink = '../blog/';
const {
  pageTitle = "My Generic Page",
  backLink,
  forwardLink,
} = Astro.props;
console.log('links:');
console.dir(Astro.props);
---
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
    <div style="display: flex; justify-content: space-between; padding: 0; margin: 0;">
		{backLink ? (
			<a href={backLink}>&blacktriangleleft; previous</a>
		  ) : (
			<a href={defaultLink}>&blacktriangleleft; blog home</a>
		) }
	  {forwardLink ? (
		  <a href={forwardLink}>next &blacktriangleright;</a>
		) : (
		  <a href={defaultLink}>blog home &blacktriangleright;</a>
	  ) }
    </div>
		<main>
			<slot />
		</main>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
